<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SCI ZAYS{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}
</head>
<body>

    {% include 'header.html.twig' %}</br></br></br>
    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <div class="col-md-6">
                <form method="post" class="form-signin">
                    <div class="text-center">
                        <img src="/zays/public/img/zays.png" alt="Logo" style="width: 25%;">
                    </div>
                    <h1 class="h4 mb-3 font-weight-normal">Inscription</h1>
                    {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_row(registrationForm.nom, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Lonardino'
                            }
                        }) }}
                    </div></br>
                    {{ form_row(registrationForm.prenom, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Mickael'
                            }
                        }) }}</br>
                    {{ form_errors(registrationForm) }}
                    <div class="form-group">
                        {{ form_row(registrationForm.email, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'mickael@hotmail.com'
                            }
                        }) }}
                    </div></br>

                    <div class="form-group">
                        {{ form_row(registrationForm.plainPassword, {
                            'label': 'Mot de passe',
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Mot de passe'
                            }
                        }) }}
                    </div></br>

                    <div class="form-check mb-3">
                        {{ form_row(registrationForm.agreeTerms, {
                            'label': 'J\'accepte les termes et conditions',
                            'attr': {
                                'class': 'form-check-input'
                            }
                        }) }}
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                </form>
            </div>
        </div>
    </div>
