{# templates/locataire/ajouter.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SCI ZAYS{% endblock %}</title>

    {% block stylesheets %}
    <style>
        body {
            background-color: #f0f0f0 !important; /* Light gray background */
            color: #333 !important; /* Dark gray text */
        }
    </style>
    {% endblock %}
</head>
<body>

    {% include 'header.html.twig' %}

    <div class="container my-4"></br></br></br></br>
        <div class="d-flex justify-content-center align-items-center mb-3">
            <h5 class="text-center"><i class="ri-user-line"></i>&nbsp; Nouveau locataire</h5>
        </div>

        {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

        <div class="mb-3">
            <div class="form-group">
                {{ form_row(form.Nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group">
                {{ form_row(form.Prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class': 'form-control',}}) }}
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group">
                {{ form_row(form.telephone, {'attr': {'class': 'form-control', placeholder: '0789632541'}}) }}
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group">
                {{ form_row(form.DateNaissance, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group">
                {{ form_row(form.LieuNaissance, {'attr': {'class': 'form-control','placeholder': 'Mamoudzou'}}) }}
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group">
                {{ form_row(form.pieceJustificative, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {{ form_row(form.enregistrer)}}
        {{ form_end(form) }}
    </div>
</body>
</html>
