<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SCI ZAYS{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <!-- Inclusion des entêtes et pieds de page -->
    {% include 'header.html.twig' %}
    {% include 'footer.html.twig' %}
    {% block titrePage %}
    <h2 class="text-center display-5">
        Information de l'Appartement n° de porte {{ appartement.porte }}
    </h2></br>
    {% endblock %}

    <!-- Section d'information -->
    <section class="information">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h3 class="h4 mb-0">Fiche d'appartement</h3>
                        </div>
                        <div class="card-body">
                            <div class="information-container">
                                <!-- Informations sur le l'appartement -->
                                <div class="information-item">
                                    <strong>Immeuble :</strong> {{appartement.immeuble.nom}}
                                </div></br>
                                <div class="information-item">
                                    <strong>Situation :</strong> {{appartement.situation}}
                                </div></br>
                                <div class="information-item">
                                    <strong>Surface Habitable :</strong> {{appartement.surfaceHabitable}} m²
                                </div></br>
                                <div class="information-item">
                                    <strong>Surface au sol :</strong> {{appartement.surfaceSol}} m²
                                </div></br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Card -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h3 class="h4 mb-0">Equipements</h3>
                        </div>
                        <div class="card-body">
                            <div class="information-container">
                                <!-- Additional information for the second card -->
                                <div class="information-item">
                                    <strong>Autre :</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h3 class="h4 mb-0">Locataires</h3>
                        </div>
                        <div class="card-body">
                            <div class="information-container">
                                {% for b in appartement.bails %}
                                <!-- États des Lieux information -->
                                <div class="information-item">
                                    <strong>Nom :</strong> {{b.locataires[0].nom}} {% if b.locataires[1] is defined %}{{b.locataires[1].nom}}{% endif %}
                                </div>
                                <div class="information-item">
                                    <strong>Prenom :</strong> {{b.locataires[0].prenom}} {% if b.locataires[1] is defined %}{{b.locataires[1].prenom}}{% endif %}
                                </div>
                                <div class="information-item">
                                    <strong>Numero de bail :</strong> <a href="{{ path('bauxConsulter', { 'id': b.id }) }}">{{ b.id }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>