{# templates/bail/cloturerContratLocation.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SCI ZAYS{% endblock %}</title>
    {% block stylesheets %}
        <!-- Ajoutez vos styles ici -->
    {% endblock %}
    {% block javascripts %}
        <!-- Ajoutez vos scripts ici -->
    {% endblock %}
</head>
<body>
    {% include 'header.html.twig' %}</br></br>

    <section class="information">
        {{ form_start(form) }}

        {% for locataire in bail.locataires %}
            <div class="d-flex justify-content-center align-items-center mb-3">
                <h5 class="text-center"><i class="ri-close-line"></i>&nbsp; Cloturer Contrat location de <strong>{{ locataire.nom }}</strong></h5>
            </div></br>
        {% endfor %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="locataire-info">
                        {% for locataire in bail.locataires %}
                            <div class="information-item">
                                <div class="mb-2">
                                    <div class="form-group">
                                        <p>Nom : {{ locataire.nom }}</p>
                                        <p>Prénom : {{ locataire.prenom }}</p>
                                        <p>Date de naissance : {{ locataire.DateNaissance|date("d/m/Y") }}</p>
                                        <p>Lieu de naissance : {{ locataire.LieuNaissance }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bail-info">
                        <div class="information-item">
                            <div class="mb-2">
                                <div class="form-group">
                                    <p>Appartement : {{ bail.appartement.porte }}</p>
                                    <p>Date de début : {{ bail.dateDebut|date("d/m/Y") }}</p>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-group">
                                    <p>Montant HC : {{ bail.MontantHC }} €</p>
                                    <p>Montant Charges : {{ bail.MontantCharges }} €</p>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-group">
                                    {{ form_row(form.DateFin) }}
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-group">
                                    {{ form_row(form.MontantDerEcheance) }}
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-group">
                                    {{ form_row(form.CautionRestituer) }}
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            {{ form_row(form.enregistrer, {'label': 'Cloturer contrat de location', 'attr': {'class': 'btn btn-danger'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </section>
</body>
</html>
