{# templates/bail/cloturerContratLocation.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SCI ZAYS{% endblock %}</title>
    {% block stylesheets %}
    <style>
            body {
                background-color: #f0f0f0 !important; /* Light gray background */
                color: #333 !important; /* Dark gray text */
            }
            .Locataire {
                display: flex;
                justify-content: space-between; /* Ajoutez ceci pour l'espacement entre les formulaires */
            }
            .locataire-form {
                width: 48%; /* Ajoutez ceci pour définir la largeur du formulaire */
            }
            .separator {
                border-top: 2px solid #000; /* Black separator line */
                margin: 20px 0;
            }
            .placeholder-light {
                color: rgba(0, 0, 0, 0.5); /* Réglage de l'opacité du texte du placeholder */
            }
    </style>
    {% endblock %}

    {% block javascripts %}
         <script>
            document.addEventListener('DOMContentLoaded', function() {
                const addButton = document.getElementById('addLocataireButton');
                const locataireContainer = document.getElementById('locataireContainer');
                const locataireTemplate = document.getElementById('locataireTemplate');
                let locataireIndex = 1; // Initial index for locataire fields

                addButton.addEventListener('click', function() {
                    const newLocataire = locataireTemplate.cloneNode(true);
                    newLocataire.removeAttribute('id');

                    // Update field names with unique index
                    newLocataire.querySelectorAll('[name]').forEach(function(element) {
                        const name = element.getAttribute('name');
                        element.setAttribute('name', name.replace('[0]', '[' + locataireIndex + ']'));
                    });

                    locataireContainer.appendChild(newLocataire);
                    locataireIndex++;
                });
            });
        </script>
    {% endblock %}
</head>
<body>

    {% include 'header.html.twig' %}

    <div class="container my-4"></br></br></br></br>
        {% for locataire in form.locataires %}
        <div class="d-flex justify-content-center align-items-center mb-3">
            <h5 class="text-center"><i class="ri-close-line"></i>&nbsp; Cloturer Contrat location de <strong>{{ locataire.Nom.vars.value }}</strong></h5>
        </div>
        {% endfor %}

        {{ form_start(form) }}

        <h5><i class="ri-user-line"></i>&nbsp; LOCATAIRE</h5>
        <div id="locataireContainer" class="Locataire">
            <div class="locataire-form" id="locataireTemplate">
                {% for locataire in form.locataires %}
                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(locataire.Nom, {'attr': {'class': 'form-control','placeholder': 'Mickael'}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(locataire.Prenom, {'attr': {'class': 'form-control','placeholder': 'Bert'}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(locataire.DateNaissance, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(locataire.LieuNaissance, {'attr': {'class': 'form-control','placeholder': 'Washingthon'}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(locataire.MontantCaf, {'attr': {'class': 'form-control','placeholder': '400 €'}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(locataire.Archive, {'attr': {'class': 'form-control','placeholder': 'Default: 0'}}) }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="separator"></div>
        <h5><i class="ri-file-text-line"></i>&nbsp; BAIL</h5>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.appartement, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.MontantHC, {'attr': {'class': 'form-control','placeholder': '400 €'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.MontantCharges, {'attr': {'class': 'form-control','placeholder': '200 €'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.MontantPremEcheance, {'attr': {'class': 'form-control','placeholder': '200 €'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.MontantDerEcheance, {'attr': {'class': 'form-control','placeholder': '300 €'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.NomCaution1, {'attr': {'class': 'form-control','placeholder': 'Franklin'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.NomCaution2, {'attr': {'class': 'form-control','placeholder': 'Stonerik'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.MontantCaution, {'attr': {'class': 'form-control','placeholder': '400 €'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.DateFin, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.DureeBail, {'attr': {'class': 'form-control','placeholder': 'Default: 6'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.BailSigne, {'attr': {'class': 'form-control','placeholder': 'Default: 0'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.EtatLieuEntree, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.EtatLieuSortie, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.AttestationAssurance, {'attr': {'class': 'form-control','placeholder': 'Blablaaa'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.TrimestreReference, {'attr': {'class': 'form-control','placeholder': 'Blablaaa'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.associe, {'attr': {'class': 'form-control','placeholder': 'Seléctionner un associés'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.PieceJustificative, {'attr': {'class': 'form-control','placeholder': 'Blablaaa'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.Archive, {'attr': {'class': 'form-control','placeholder': 'Default: 0'}}) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        {{ form_row(form.CautionRestituer, {'attr': {'class': 'form-control','placeholder': '300 €'}}) }}
                    </div>
                </div></br>
            </div>
        </div>
        <div class="mb-3">
            {{ form_row(form.enregistrer, {'label': 'Cloturer Bail', 'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
</body>
</html>
