{# templates/bail/cloturerContratLocation.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SCI ZAYS{% endblock %}</title>
    {% block stylesheets %}
    <style>
            body {
                background-color: #f0f0f0 !important; /* Light gray background */
                color: #333 !important; /* Dark gray text */
            }
            .Locataire {
                display: flex;
                justify-content: space-between; /* Ajoutez ceci pour l'espacement entre les formulaires */
            }
            .locataire-form {
                width: 48%; /* Ajoutez ceci pour définir la largeur du formulaire */
            }
            .separator {
                border-top: 2px solid #000; /* Black separator line */
                margin: 20px 0;
            }
            .placeholder-light {
                color: rgba(0, 0, 0, 0.5); /* Réglage de l'opacité du texte du placeholder */
            }
            /* Ajoutez ce style pour aligner les éléments côte à côte */
            .information-item .mb-2 p {
                display: inline-block;
                margin-right: 100px;
            }
    </style>
    {% endblock %}

    {% block javascripts %}
         <script>
            document.addEventListener('DOMContentLoaded', function() {
                const addButton = document.getElementById('addLocataireButton');
                const locataireContainer = document.getElementById('locataireContainer');
                const locataireTemplate = document.getElementById('locataireTemplate');
                let locataireIndex = 1; // Initial index for locataire fields

                addButton.addEventListener('click', function() {
                    const newLocataire = locataireTemplate.cloneNode(true);
                    newLocataire.removeAttribute('id');

                    // Update field names with unique index
                    newLocataire.querySelectorAll('[name]').forEach(function(element) {
                        const name = element.getAttribute('name');
                        element.setAttribute('name', name.replace('[0]', '[' + locataireIndex + ']'));
                    });

                    locataireContainer.appendChild(newLocataire);
                    locataireIndex++;
                });
            });
        </script>
    {% endblock %}
</head>
<body>

    {% include 'header.html.twig' %}
    <section class="information"></br>
    {{ form_start(form) }}
    {% for locataire in bail.locataires %}
    <div class="d-flex justify-content-center align-items-center mb-3">
       <h5 class="text-center"><i class="ri-close-line"></i>&nbsp; Cloturer Contrat location de <strong>{{ locataire.nom }}</strong></h5>
    </div></br>
    {% endfor %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <i class="ri-user-line"></i>&nbsp; Locataire
                        </div>
                        <div class="card-body">
                            <div class="information-container">
                            {% for locataire in bail.locataires %}
                            <div class="information-item">
                                <div class="mb-2">
                                    <div class="form-group">
                                        <p>Nom : {{ locataire.nom }}</p>
                                        <p>Prénom : {{ locataire.prenom }}</p>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="form-group">
                                        <p>Date de naissance : {{ locataire.DateNaissance|date("d/m/Y") }}</p>
                                        <p>Lieu de naissance : {{ locataire.LieuNaissance}}</p>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="form-group">
                                        <p>Montant Caf : {{ locataire.MontantCaf}} €</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="card-header border-bottom">
                            <i class="ri-file-text-line"></i>&nbsp; Bail
                        </div>
                        <div class="card-body">
                            <div class="information-container">
                            <div class="information-item">
                                <div class="mb-2">
                                    <div class="form-group">
                                        <p>Appartement : {{ bail.appartement.id}}</p>
                                        <p>Date de début : {{ bail.dateDebut|date("d/m/Y") }}</p>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="form-group">
                                        <p>Montant HC : {{ bail.MontantHC}} €</p>
                                        <p>Montant Charges : {{ bail.MontantCharges}} €</p>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="form-group">
                                        {{ form_row(form.DateFin)}}
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="form-group">
                                        {{ form_row(form.MontantDerEcheance) }}
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="form-group">
                                        {{ form_row(form.CautionRestituer) }}
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="form-group">
                                        {{ form_row(form.EtatLieuEntree) }}
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="form-group">
                                        {{ form_row(form.EtatLieuSortie) }}
                                    </div>
                                </div>
                            </div></br>
                             {{ form_row(form.enregistrer, {'label': 'Cloturer contrat de location', 'attr': {'class': 'btn btn-danger'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</body>
</html>
