<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SCI ZAYS{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <!-- Inclusion des entêtes et pieds de page -->
    {% include 'header.html.twig' %}
    {% include 'footer.html.twig' %}
    <h2 class="text-center display-5">
        Information du bail de {{bail.locataire[0].nom}} {% if bail.locataire[1] is defined %} {{bail.locataire[1].nom}}  {% endif %}
    </h2></br>
    <!-- Section d'information -->
    <section class="information">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h3 class="h4 mb-0">Information du Bail</h3>
                        </div>
                        <div class="card-body">
                            <div class="information-container">
                                <!-- Informations sur le bail -->
                                <div class="information-item">
                                    <strong>N° Bail :</strong> {{bail.id}}
                                </div></br>
                                <div class="information-item">
                                    <strong>Locataire :</strong> {{bail.locataire[0].nom}} {% if bail.locataire[1] is defined %} {{bail.locataire[1].nom}} {% endif %}
                                </div></br>
                                <div class="information-item">
                                    <strong>N° Appartement :</strong> {{bail.appartement.porte}}
                                </div></br>
                                <div class="information-item">
                                    <strong>Début du Bail :</strong> {{bail.dateDebut|date("d/m/Y")}}
                                </div></br>
                                <div class="information-item">
                                    <strong>Fin du Bail :</strong> {% if bail.dateFin is defined and not "null" %} {{bail.dateFin|date("d/m/Y")}} {% endif %}
                                </div></br>
                                <div class="information-item">
                                    <strong>Durée du Bail :</strong> {{bail.dureeBail}}
                                </div></br>
                                <div class="information-item">
                                    <strong>Associé en charge :</strong> {% if bail.associe.nom is defined %} {{bail.associe.nom}} {% endif %}
                                </div></br>
                                <div class="information-item">
                                    <strong>Montant hors charges :</strong> {{bail.montantHC}} €
                                </div></br>
                                <div class="information-item">
                                    <strong>Charges :</strong> {{bail.montantCharges}} €
                                </div></br>
                                <div class="information-item">
                                    <strong>Montant TTC :</strong> {{bail.montantHC + bail.montantCharges}} €
                                </div></br>
                                <div class="information-item">
                                    <strong>Cautionneur(s) :</strong> {{bail.nomCaution1}}{% if bail.nomCaution2 is defined and bail.nomCaution2 !='' %} & {{bail.nomCaution2}} {% endif %}
                                </div></br>
                                <div class="information-item">
                                    <strong>Montant Caution :</strong> {{bail.montantCaution}} €
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Card -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h3 class="h4 mb-0">Autre Information</h3>
                        </div>
                        <div class="card-body">
                            <div class="information-container">
                                <!-- Additional information for the second card -->
                                <div class="information-item">
                                    <strong>Autre :</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h3 class="h4 mb-0">États des Lieux(d'entrée)</h3>
                        </div>
                        <div class="card-body">
                            <div class="information-container">
                                <!-- États des Lieux information -->
                                <!-- Add more information as needed -->
                                    <button class="btn btn-success" onclick="genererQuittance()">
                                        <a href="{{ path('quittancePDF', { 'id': bail.id }) }}" style="color: white; text-decoration: none;">
                                            Générer états des Lieux(d'entrée)
                                        </a>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h3 class="h4 mb-0">États des Lieux(sortie)</h3>
                        </div>
                        <div class="card-body">
                            <div class="information-container">
                                <!-- États des Lieux information -->
                                <button class="btn btn-danger" onclick="genererQuittance()">
                                    <a href="{{ path('quittancePDF', { 'id': bail.id }) }}" style="color: white; text-decoration: none;">
                                        Générer états des Lieux(sortie)
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
