{# templates/bail/formModifierContratLocation.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SCI ZAYS{% endblock %}</title>
    {% block stylesheets %}
    <style>
            body {
                background-color: #f0f0f0 !important; /* Light gray background */
                color: #333 !important; /* Dark gray text */
            }
            .Locataire {
                display: flex;
                justify-content: space-between; /* Ajoutez ceci pour l'espacement entre les formulaires */
            }
            .locataire-form {
                width: 48%; /* Ajoutez ceci pour définir la largeur du formulaire */
            }
            .separator {
                border-top: 2px solid #000; /* Black separator line */
                margin: 20px 0;
            }
            .placeholder-light {
                color: rgba(0, 0, 0, 0.5); /* Réglage de l'opacité du texte du placeholder */
            }
    </style>
    {% endblock %}

    {% block javascripts %}
         <script>
            document.addEventListener('DOMContentLoaded', function() {
                const addButton = document.getElementById('addLocataireButton');
                const locataireContainer = document.getElementById('locataireContainer');
                const locataireTemplate = document.getElementById('locataireTemplate');
                let locataireIndex = 1; // Initial index for locataire fields

                addButton.addEventListener('click', function() {
                    const newLocataire = locataireTemplate.cloneNode(true);
                    newLocataire.removeAttribute('id');

                    // Update field names with unique index
                    newLocataire.querySelectorAll('[name]').forEach(function(element) {
                        const name = element.getAttribute('name');
                        element.setAttribute('name', name.replace('[0]', '[' + locataireIndex + ']'));
                    });

                    locataireContainer.appendChild(newLocataire);
                    locataireIndex++;
                });
            });
        </script>
    {% endblock %}
</head>
<body>

    {% include 'header.html.twig' %}

    <div class="container my-4"></br></br></br></br>
        {% for locataire in form.locataires %}
        <div class="d-flex justify-content-center align-items-center mb-3">
            <h5 class="text-center"><i class="ri-file-edit-fill"></i>&nbsp; Editer Contrat location de <strong>{{ locataire.Nom.vars.value }}</strong></h5>
        </div>
        {% endfor %}

        {{ form_start(form) }}

        <!-- 1er cadre: Locataire -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><i class="ri-user-line"></i>&nbsp; Locataire</h5></br>
                <!-- Vos champs locataire ici -->
                <div id="locataireContainer" class="Locataire">
                    <div class="locataire-form" id="locataireTemplate">
                        {% for locataire in form.locataires %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <div class="form-group">
                                            {{ form_row(locataire.Nom, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group">
                                            {{ form_row(locataire.DateNaissance, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group">
                                            {{ form_row(locataire.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <div class="form-group">
                                            {{ form_row(locataire.Prenom, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group">
                                            {{ form_row(locataire.LieuNaissance, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group">
                                            {{ form_row(locataire.telephone, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary" id="addPieceJustificativeButton">Ajouter une pièce justificative</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- 2ème cadre: Liste déroulante appartement -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><i class="ri-building-line"></i>&nbsp; Appartement</h5>
                <!-- Vos champs liés à l'appartement ici -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.appartement, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.MontantHC, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.TrimestreReference, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.DateFin, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.MontantCharges, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.MontantPremEcheance, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.MontantCaution, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.CautionRestituer, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                {{ form_row(form.DureeBail, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3ème cadre: Générer contrat et état des lieux -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><i class="ri-file-text-line"></i>&nbsp; Action Contrat</h5></br>
                <!-- Boutons de génération de contrat et état des lieux ici -->
                <div class="mb-3">
                    <label for="{{ form.BailSigne.vars.id }}" class="btn btn-success">
                        <i class="ri-draft-line"></i> Joindre le bail signé
                        {{ form_widget(form.BailSigne, {'attr': {'style': 'display:none;'}}) }}
                    </label>
                </div>

                <div class="mb-3">
                    <label for="{{ form.EtatLieuEntreeSigne.vars.id }}" class="btn btn-info">
                        <i class="ri-file-list-line"></i> Joindre l’état des lieux d’entrée signé
                        {{ form_widget(form.EtatLieuEntreeSigne, {'attr': {'style': 'display:none;'}}) }}
                    </label>
                </div>

                <div class="mb-3">
                    <label for="{{ form.AttestationAssurance.vars.id }}" class="btn btn-warning">
                        <i class="ri-shield-check-line"></i> Joindre attestation assurance locataire
                        {{ form_widget(form.AttestationAssurance, {'attr': {'style': 'display:none;'}}) }}
                    </label>
                </div>

                <div class="mb-3">
                    <label for="{{ form.EtatLieuSortieSigne.vars.id }}" class="btn btn-danger">
                        <i class="ri-file-list-line"></i> Joindre l’état des lieux de sortie signé
                        {{ form_widget(form.EtatLieuSortieSigne, {'attr': {'style': 'display:none;'}}) }}
                    </label>
                </div>

                <div class="mb-3">
                    <label class="btn btn-success" id="augmenterLoyerButton" data-toggle="modal" data-target="#augmenterLoyerModal">
                        <i class="ri-funds-line"></i> Augmenter le loyer
                    </label>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="augmenterLoyerModal" tabindex="-1" role="dialog" aria-labelledby="augmenterLoyerModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="augmenterLoyerModalLabel">Augmenter le loyer</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Ajoutez les champs du formulaire pour l'ancien et le nouveau loyer ici -->
                                <div class="mb-3">
                                    <h6> Anciens Loyer : </h6>
                                </div>
                                <div class="mb-3">
                                    <h6> Nouveau Loyer : </h6>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-primary" id="soumettreAugmentationLoyer">Soumettre</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <button type="button" class="btn btn-secondary" id="CloturerContrat"><i class="ri-check-line"></i> Clôturer le contrat</button>
                </div>
            </div>
        </div>

        <div class="mb-3">
            {{ form_row(form.enregistrer, {'label': 'Enregistrer Bail', 'attr': {'class': 'btn btn-success'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const augmenterLoyerButton = document.getElementById('augmenterLoyerButton');
            const augmenterLoyerModal = new bootstrap.Modal(document.getElementById('augmenterLoyerModal'));

            augmenterLoyerButton.addEventListener('click', function() {
                augmenterLoyerModal.show();
            });

            // Ajoutez le code pour traiter la soumission du formulaire ici (si nécessaire)
            const soumettreAugmentationLoyerButton = document.getElementById('soumettreAugmentationLoyer');
            soumettreAugmentationLoyerButton.addEventListener('click', function() {
                // Ajoutez le code pour gérer la soumission du formulaire ici
                augmenterLoyerModal.hide();
            });
        });
        </script>
</body>
</html>